.App {
  width: 100vw;
  height: 100vh;
  background-color: #8a1538;
  display: flex;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 100%;
  width: 250px;
  background-color: #ffffff;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #eeeded;
}

.SidebarList #active {
  background-color: #f0d9ff;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial sans-serif;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}
.row #title {
  flex: 70%;
}

.Pais{
  display: flex;
  border: 1px solid black;
  align-items: center;
  margin: 0%;
  padding: 0%;
}

.Pais #NamePais{
  font-size: medium;
  width: 60px;
  flex:70%
}

.Pais #ImgPais{
  flex: 30%;
  object-fit:;
}

.Pais #ImgPais img{
  max-width: 20px;
}
